<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmácia Hospitalar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="Banco-de-Dados\projetobanco\src\main\resources\images\logo-hirc.png" type="image/x-icon">
</head>

<body style="background-color: #fff; margin: 0; padding: 0;">
    
    <!-- Inclui o cabeçalho -->
    <div th:replace="fragments/header :: header"></div>

    <!-- PÁGINA PRINCIPAL -->

    <div class="container" style="padding-top: 100px;">

        <form action="/funcionario" method="get" style="text-align: left; padding-top: 40px; padding-left: 400px;">
            <button type="submit" style="width: 725px; height: 60px; text-align: center; border-radius: 5px; border: none; background-color: #01546B; color: white; font-weight: bold; cursor: pointer;">Cadastrar Funcionário</button>
        </form><br>

        <form onsubmit="history.back(); return false;" style="text-align: left; padding-top: 40px; padding-left: 400px;">
            <button type="submit" style="width: 725px; height: 60px; text-align: center; border-radius: 5px; border: none; background-color: #D1345B; color: white; font-weight: bold; cursor: pointer;">Voltar</button>
        </form><br>  
    </div>
    
</body>
</html>