<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmácia Hospitalar</title>

    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: start;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        
        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 150px;
            padding-right: 150px;
        }

        .form-group {
            padding-top: 30px;
        }
        input {
            background-color: #D9D9D9; 
            border-radius: 5px; 
            border: solid #7A7A7A;
        }
    </style>

</head>

<body style="background-color: #000000; margin: 0; padding: 0;">
    <!-- Inclui o cabeçalho -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="form-container" style="border-radius: 5px; border: solid; background-color: #D9D9D9; margin-top: 100px">

            <h2 style="margin-top: 50px;">Cadastro de Receita</h2>

            <!-- FORMULÁRIO DE CADASTRO -->
            <form id="formReceita" action="/receita" method="post">

                <div class="form-group">
                    <label for="data_hora_consulta"><strong>Data e Hora da Consulta:</strong></label>
                        <br>
                        <input type="datetime-local" id="data_hora_consulta" name="data_hora_consulta" required>
                        <br>
                        <label for="segundos"><strong>Segundos:</strong></label>
                        <input type="number" id="segundos" name="segundos" min="0" max="59">
                        <br>
                </div>

                <div class="form-group">
                    <label for="matricula_medico"><strong>Matrícula do Médico:</strong></label>
                    <br>
                    <input type="text" id="matricula_medico" name="matricula_medico" required>
                </div>

                <div class="form-group">
                    <label for="codigo_paciente"><strong>Código do Paciente:</strong></label>
                    <br>
                    <input type="text" id="codigo_paciente" name="codigo_paciente" required>
                </div>

                <div class="form-group">
                    <label for="nome_remedio"><strong>Nome do Remédio:</strong></label>
                    <br>
                    <input type="text" id="nome_remedio" name="nome_remedio" required>
                </div>

                <div class="form-group">
                    <label for="dosagem"><strong>Dosagem:</strong></label>
                    <br>
                    <input type="text" id="dosagem" name="dosagem" required>
                </div>

                <div class="form-group">
                    <label for="quantidade"><strong>Quantidade:</strong></label>
                    <br>
                    <input type="text" id="quantidade" name="quantidade" required>
                </div>

                <div class="form-group">
                    <label for="unidadeMedida"><strong>Unidade de Medida:</strong></label>
                    <br>
                    <input type="text" id="unidadeMedida" name="unidadeMedida" required>
                </div>

                <div class="form-group">
                    <label for="horario"><strong>Horário:</strong></label>
                    <br>
                    <input type="text" id="horario" name="horario">
                </div>

                <div class="form-group">
                    <label for="receita_controlada"><strong>Receita Controlada:</strong></label>
                    <br>
                    <input type="radio" id="receita_controlada" name="receita_controlada" value="true" required>
                    <label for="receita_controlada">Sim</label>
                
                    <input type="radio" id="receita_controlada" name="receita_controlada" value="false" required>
                    <label for="receita_controlada">Não</label>
                </div>
        
                <div class="form-group">
                    <label for="status_receita"><strong>Status da Receita:</strong></label>
                    <br>
                    <input type="text" id="status_receita" name="status_receita" value="Receita Nova" required>
                </div>

                <div class="form-group">
                    <button type="button" onclick="sendData()" style="width: 170px; height: 30px; text-align: center; border-radius: 5px; border: none; background-color: #604CCD; color: white; font-weight: bold; cursor: pointer;">Cadastrar</button>
                </div>
            </form>

            <div class="form-group">
                <button onclick="history.back();" style="width: 170px; height: 30px; text-align: center; border-radius: 5px; border: none; background-color: #D1345B; color: white; font-weight: bold; cursor: pointer; margin-bottom: 50px;">Voltar</button>
            </div>

        </div>
    </div>
    
    <script>
        function sendData() {
            var formData = {
                dataHoraConsulta: document.getElementById("data_hora_consulta").value,
                segundos: document.getElementById("segundos").value,
                milisegundos: document.getElementById("milisegundos").value,
                matriculaMedico: document.getElementById("matricula_medico").value,
                codigoPaciente: document.getElementById("codigo_paciente").value,
                nomeRemedio: document.getElementById("nome_remedio").value,
                dosagem: document.getElementById("dosagem").value,
                quantidade: document.getElementById("quantidade").value,
                unidadeMedida: document.getElementById("unidadeMedida").value,
                horario: document.getElementById("horario").value,
                receitaControlada: document.querySelector('input[name="receita_controlada"]:checked').value,
                statusReceita: document.getElementById("status_receita").value
            };
    
            // Combine a data e hora com segundos e milisegundos
            var dataHoraCompleta = formData.dataHoraConsulta + "";
            dataHoraCompleta += ":" + formData.segundos.padStart(2, '0');
    
            // Atualize o formData com a data e hora completa
            formData.dataHoraConsulta = dataHoraCompleta;
    
            fetch("/receita", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao enviar os dados');
                }
    
                window.location.href = "/receita/lista";
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }
    </script>
    
</body>
</html>